
body {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

div {
  display: block;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  list-style-type: none;
  float: left;
}

.navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

footer ul li {
  list-style-type: none;
}
